{% extends "../base.html" %}

{% block title %}Cadastro de Novo Colaborador{% endblock %}

{% block content %}
    <h1 style="margin-top: 20px;">Cadastre-se para Colaborar</h1>

    <div style="max-width: 400px; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
        <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }}

            <button type="submit" style="padding: 10px; background-color: #28a745; color: white; border: none; border-radius: 4px; cursor: pointer;">
                Criar Conta
            </button>
        </form>
    </div>
    
    <p style="margin-top: 20px;">
        <a href="{% url 'login' %}">Já possuo uma conta</a>
    </p>

{% endblock %}