
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fundo cinza claro */
    color: #333;
}

/* Estilo do Cabeçalho */
header {
    background-color: #343a40; /* Cinza escuro (Mantendo o estilo atual) */
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

header a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
.content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Estilo dos Links e Botões */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

button[type="submit"], .button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button[type="submit"]:hover, .button:hover {
    background-color: #0056b3;
}

/* Estilo do Formulário e Campos */
input[type="text"], input[type="password"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.termo-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.termo-card h4 a {
    color: #333;
    font-size: 1.2em;
}

.termo-card small {
    display: block;
    margin-top: 5px;
    color: #6c757d;
}


.error-message {
    color: white;
    background-color: #dc3545;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.auth-box {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
}