{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicionário Colaborativo - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    
</head>
<body>
    <header>
        <div style="display: flex; align-items: center;">
            <h1>Dicionário Colaborativo</h1>
        </div>
        
        <nav>
            <a href="{% url 'lista_termos' %}">Home</a> | 
            {% if user.is_authenticated %}
                Olá, {{ user.first_name|default:user.username }}! | 
                <a href="{% url 'adicionar_termo' %}">Novo Termo</a> |
                
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" 
                            style="background: none; border: none; padding: 0; margin: 0; color: white; cursor: pointer; font-size: 1em;">
                        Sair
                    </button>
                </form>

            {% else %}
                <a href="{% url 'login' %}">Entrar</a>
            {% endif %}
        </nav>
    </header>

    <div class="content"> 
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>